VITE_APP_ENV=local
VITE_SERVER_URL="http://localhost:3000"
VITE_SHOW_LOGS=false
VITE_MAP_MAKER=false
VITE_SHOW_ISOMAP=false
VITE_WEB_TERMS_URL="http://127.0.0.1:8000"
VITE_RECAPTCHA_SITE_KEY=CHANGE_ME_RECAPTCHA_SITE_KEY