# DB
MYSQL_ROOT_PASSWORD=root

# API
API_VIRTUAL_HOST=api.boombang.com
API_VIRTUAL_PORT=80
API_VIRTUAL_PROTO=http
API_APP_URL=http://api.boombang.com
API_DB_HOST=db
API_DB_DATABASE=boombang_api
API_DB_USERNAME=root
API_DB_PASSWORD=root

# WEB
WEB_VIRTUAL_HOST=boombang.com
WEB_VIRTUAL_PORT=80
WEB_VIRTUAL_PROTO=http
WEB_APP_URL=http://boombang.com
WEB_DB_HOST=db
WEB_DB_DATABASE=boombang_web
WEB_DB_USERNAME=root
WEB_DB_PASSWORD=root

# SERVER
SERVER_VIRTUAL_HOST=server.boombang.com
SERVER_VIRTUAL_PORT=3000
SERVER_VIRTUAL_PROTO=http
SERVER_DB_HOST=db
SERVER_API_URL=http://api.boombang.com
SERVER_CLIENT_URL=http://play.boombang.com
SERVER_EMULATOR_URL=http://server.boombang.com:3000
SERVER_DB_DATABASE=boombang_api
SERVER_DB_USER=root
SERVER_DB_PASSWORD=root

# CLIENT
CLIENT_VIRTUAL_HOST=play.boombang.com
CLIENT_VIRTUAL_PORT=80
CLIENT_VIRTUAL_PROTO=http
CLIENT_VITE_SERVER_URL=http://server.boombang.com:3000

# PHPMYADMIN
PMA_VIRTUAL_HOST=pma.boombang.com