@mixin transform($transforms) {
    transform: $transforms;
}

// Rotate
@mixin rotate($deg: 180) {
    @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale: 1.1) {
    @include transform(scale($scale));
}

// Translate
@mixin translate($x: -50%, $y: -50%) {
    @include transform(translate($x, $y));
}

// Skew
@mixin skew($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin($origin) {
    transform-origin: $origin;
}

// Center grid
@mixin centeredGrid() {
    display: grid;
    place-items: center;
}
