@use "../functions/legacy-selector";
@use "../mixins/svg-brightness";
@use "../mixins/transitions";
@use "../mixins/translates";
@use "../variables";

$header-selector: ".header";

header {
    #{$header-selector} {
        @include translates.position(fixed, 0, null, null, 0);
        @include transitions.transition();
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        height: variables.$navbar-height;
        padding: 0 50px;
        box-sizing: border-box;
        z-index: 840;
        background-color: #2b68be91;

        @media (max-width: variables.$menu-responsive-resolution) {
            justify-content: flex-end;
        }

        @media (max-width: variables.$md) {
            padding: 0 20px;
        }

        &.scrolled,
        &.open {
            background: variables.$white;

            #{legacy-selector.legacy-selector($header-selector, __logo-container)} {

                & img,
                & svg {
                    @include svg-brightness.svg-brightness('black');
                }
            }
        }

        &__logo-container {
            position: absolute;
            left: 0;
            height: 100%;
            display: flex;
            padding: 5px 10px;
            box-sizing: border-box;
            margin-left: 50px;

            @media (max-width: variables.$menu-responsive-resolution) {
                margin-left: auto;
            }

            & img,
            & svg {
                vertical-align: bottom;
                height: 100%;
                object-fit: contain;
                //@include svg-brightness();
                @include transitions.transition();

                @media (max-width: variables.$sm) {
                    width: auto;
                    min-width: auto;
                }
            }
        }
    }
}