CLIENT_URL=http://localhost:5173
EMULATOR_URL=http://localhost:3000
API_URL=http://127.0.0.1:8000
API_DOCKER_URL=http://127.0.0.1:8000
EMULATOR_API_TOKEN=CHANGE_ME_EMULATOR_API_TOKEN
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=boombang_api

RUN_BOTS=true