/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.htaccess
composer.phar
composer.lock
package-lock.json
.env
.env.backup
.env.prod
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
/.idea
/.vscode
/storage/backups
/docs

# SonarQube
/.scannerwork
.sonar/
.sonarqube/
.sonarqube_out/
.sonarlint/

# Logs
sonar-report.json
sonar-report-task.txt
